{{#if isEditing}}
  <form>
    <div class="form-group">
      <label for="user">{{user}}</label>
      {{input id="user" class="form-control" value=user}}
    </div>

    <div class="form-group">
      <label for="text">{{text}}</label>
      {{textarea id="text" class="form-control" rows='5' value=text}}
    </div>

    <button class="btn btn-primary" {{action 'save'}}>Save mail :D</button>
  </form>
{{else}}
  <h3>@{{user}}: Says  {{text}}</h3>
  <button class="btn btn-primary" {{action 'edit'}}>Edit Note</button>
  <button class="btn btn-primary" {{action 'delete'}}>delete</button>
{{/if}}

{{#each replies}}
  <p>{{text}}</p>
{{/each}}

<p>
  {{#link-to 'new-reply' this.id class="btn btn-default"}}Reply{{/link-to}}
</p>
<div class="replyBox">
  {{outlet}}
</div>