{{#if isEditing}} <!--  If in Editor Mode -->
  <form>
    <div class="form-group"><!--  Input UserName  -->
      <label for="user">{{user}}</label>
      {{input id="user" class="form-control" value=user}}
    </div>
    <div class="form-group"><!--   Input Text  -->
      <label for="text">{{text}}</label>
      {{textarea id="text" class="form-control" rows='5' value=text}}
    </div>
    <!--  Save To Mailbox -->
    <button class="btn btn-primary ctrl" {{action 'save'}}>
        Save mail :D</button>
  </form>
{{else}}<!--  Otherwise, Display Content-->
  <!--  Ex. @John Smith: Says "_"  -->
  <h3>@{{user}}: Says " {{text}} "</h3>
	<div class="controls">
		<button class="btn btn-primary ctrl" {{action 'edit'}}>
				Edit Note</button>
		<button class="btn btn-primary ctrl" {{action 'delete'}}>
				delete</button>
	</div>
{{/if}}

{{#if repliesAreShowing}}
<div class="controls">
  <button class="btn btn-info ctrl" {{action 'hideReplies'}}>
    Hide Comments!</button>


  <div class="replyBox">
    {{#each replies}}
      <p>{{text}}</p>
    {{/each}}
    
  </div>
  <p>
    {{#link-to 'new-reply' this.id class="btn btn-default ctrl"}}Reply{{/link-to}}
  </p>
  {{outlet}}
{{else}}
  <button class="btn btn-info ctrl" {{action 'showReplies'}}>Show Replies</button>
  </div>
{{/if}}