<h2>Speak Out!</h2>

<form>
  <div class="form-group">
    <label for="user">Enter Pin Name:</label>
    {{input id="user target" class="form-control" value=user 
        placeholder="Sir Pin Head" min="3" max='15'}}
  </div>
  <div class="form-group">
    <label for="text">
      Leave mail for the Devs and Designers to see:
    </label>
    {{textarea id="text" class="form-control" value=text 
        placeholder="Oh Hi There, This is random text to let you know what you Shouldn't do ;D " min="5"}}
  </div>
  {{#if minText}}
    <button class="btn btn-primary" id="save" {{action 'save'}}>Save mail :D</button>
  {{else}}
    <button class="btn btn-primary" id="save" 
        {{action 'save'}}>Save mail :D</button>
  {{/if}}
</form>